body{
	margin:0;
	padding:0;
	font-family: 'Comfortaa', cursive;
}

#display{
	margin: 0 auto;
	padding-top: 20px;
	box-sizing: border-box;
	width: 60%;
	max-width: 400px;
	height: 100vh;
	min-height:500px;
	text-align: center;
	border: 5px solid white;
	border-radius: 10px;
	background-image: linear-gradient(to top, #d5dee7 0%, #ffafbd 0%, #c9ffbf 100%);
}

h1{
	font-family: 'Lobster', cursive;
	font-size: 25px;
	color: #FE8DA0;
	text-align: center;
	text-transform: capitalize;
	line-height: 1.3;
}

#container{
	width:100%;
}

section{
	margin: 30px 0;
	width: 100%;
	height: 150px;
	font-size: 25px;
	color: #696969;
	text-align: center;
}

section p{
	margin: 0;
	padding: 0 20px;
}

#container div{
	text-align: center;
}

button{
	display: inline-block;
	width: 150px;
	height: 150px;
	font-size: 20px;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	border: 2px solid #FE8DA0;
	border-radius: 50%;
	outline: none;
	background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
}
button:hover {
	background-image: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%);
}
@media screen and (max-width : 600px){
	p{
		font-size: 18px;
	}
}